html, body {
    padding: 0;
    margin: 0;
    height: 100vh;
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: -1px 0 black, 0 4px black, 4px 0 black, 0 -1px black;
    font-size: 20px;
    background: rgb(162, 255, 240);
    font-family: 'Press Start 2P', cursive;
    padding-top: 20px;
    background-repeat: no-repeat;
}
.hidden {
    display: none;
}

header {
    width: 50vw;
    text-align: center;
}

.headerContainer {
    display: flex;
    justify-content: center;
}

#teamGeneratorContainer {
    display: flex;
    justify-content: center;
    
}

#teamGeneratorWraper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}

#playersContainer {
    max-width: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#teamsContainer {
    font-size: 30px;
    padding-bottom: 100px;
    color: rgb(183, 43, 226);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#addFieldBtn {
    height: 35px;
    font-size: 20px;
    background: rgb(169, 47, 206);
    color: white;
    font-family: 'Press Start 2P', cursive;
    font-size: 16px;
    border: solid black 2px;
    box-shadow: 4px 4px rgb(118, 118, 118);
    cursor: pointer;
}

#addFieldBtn:hover {
    box-shadow: 5px 5px rgb(0, 0, 0);
  }

#createTeamsBtn {
    height: 50px;
    font-size: 20px;
    background: rgb(169, 47, 206);
    color: white;
    font-family: 'Press Start 2P', cursive;
    font-size: 16px;
    border: solid black 2px;
    box-shadow: 4px 4px rgb(118, 118, 118);
    cursor: pointer;
}

#createTeamsBtn:hover {
    box-shadow: 5px 5px rgb(0, 0, 0);
  }

input {
    color: white;
    font-size: 20px;
    height: 30px;
    background: rgb(225, 128, 254);
    margin: 20px;
    font-family: 'Press Start 2P', cursive;
    font-size: 16px;
    border: solid black 2px;
    box-shadow: 4px 4px rgb(118, 118, 118);
    text-align: center;
}

#removeAllInfoBtn {
    margin-bottom: 100px;
    height: 50px;
    width: 300px;
    font-size: 20px;
    background: rgb(169, 47, 206);
    color: white;
    font-family: 'Press Start 2P', cursive;
    font-size: 16px;
    border: solid black 2px;
    box-shadow: 4px 4px rgb(118, 118, 118);
    cursor: pointer;
}

::placeholder {
    color: rgba(255, 255, 255, 0.463);
}

@media only screen and (max-width: 1000px) {
    header {
        font-size: 14px;
        width: 80vw;
    }
}
@media only screen and (max-width: 600px) {
    header {
        font-size: 10px;
        width: 80vw;
        text-shadow: -1px 0 black, 0 3px black, 3px 0 black, 0 -1px black;

    }

    input {
        text-align: center;
        height: 40px;
        width: 320px;
    }

    #addFieldBtn {
        height: 40px;
        font-size: 20px;
        background: rgb(169, 47, 206);
        color: white;
        font-family: 'Press Start 2P', cursive;
        font-size: 15px;
        border: solid black 2px;
        box-shadow: 4px 4px rgb(118, 118, 118);
        cursor: pointer;
    }

    #teamsContainer {
        font-size: 20px;
        padding-bottom: 100px;
        color: rgb(183, 43, 226);
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-shadow: -1px 0 black, 0 3px black, 3px 0 black, 0 -1px black;

    }
}
